{
    "extends": [
        "next",
        "plugin:@typescript-eslint/eslint-recommended",
        "prettier"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "settings": {
        "next": {
            "rootDir": "renderer"
        }
    },
    "env": {
        "jest": true
    }
}